<h2>New Game</h2>
<%= simple_form_for @game do |f| %>
<%= f.association :winner, :collection => @players %>
<%= f.association :loser, :collection => @players %>
<%= f.input :loser_score, :collection => 0..10 %>
<%= f.submit %>
<% end %>
