<h2>Players</h2>
<table class="players">
  <thead>
    <tr>
      <th>Player</th>
      <th class="rank">Singles Rank</th>
      <th class="rank">Doubles Rank</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| -%>
      <tr>
        <td><%= link_to player.display_name, edit_player_path(player) %></td>
        <td class="rank singles"><%= player.rank %></td>
        <td class="rank doubles"><%= player.doubles_rank %></td>
        <td class="actions"><%= link_to 'Delete', player_path(player), :method => :delete, :confirm => "Delete #{player.display_name}?" %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= link_to 'New Player', new_player_path %> - 
<%= link_to 'New Game', new_game_path %> - 
<%= link_to 'New Doubles Game', new_doubles_game_path %>
<% content_for(:sidebar) do %>
  <%= render :partial => 'shared/rankings' %>
<% end %>
