<dl class="tabs mobile">
  <dd><%= link_to 'New Game', new_game_path %></dd>
  <dd><%= link_to 'New Doubles Game', new_doubles_game_path %></dd>
</dl>

<h2>Players</h2>
<table class="players">
  <thead>
    <tr>
      <th>Player</th>
      <th class="rank">Rank <span>(Single / Doubles)</span></th>
      <th class="hide-on-phones">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| -%>
      <tr>
        <td class="player avatar">
          <%= link_to(player) do %>
            <%= image_tag(gravatar_url_for(player.email)) %>
            <%= player.name  %>
          <% end %>
        </td>
        <td class="rank singles"><%= number_with_delimiter(player.rank) %> / <%= number_with_delimiter(player.doubles_rank) %></td>
        <td class="actions hide-on-phones"><%= link_to 'Delete', player_path(player), :method => :delete, :confirm => "Delete #{player.display_name}?" %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% content_for(:sidebar) do %>
  <h4>Recent Games (<%= Game.today.count + DoublesGame.today.count%> today)</h4>
  <ul>
    <%= render recent_games %>
  </ul>
<% end %>
