<% content_for :head do -%>
<script id="highcharts-setup" type="text/javascript">
  var score_hist;
  var chartView;
  var player_history_data = <%= raw scores_over_time.to_json %>;

  $(document).ready(function() {
    chartView = new RankChartView({collection: player_history_data, el: 'rank_graph'});
    score_hist = chartView.chart;
  });
</script>
<% end -%>
<h2 class="player">
  <%= @player.display_name %>
</h2>
<%= image_tag(gravatar_url_for(@player.email, :size => 100)) %>
<div id="rank_graph">
</div>

<h3>Margins</h4>
<p>This is the expected spread. If the number is negative, it
  means you should lose by this amount. If you are expected to win,
  but they score more points than the margin allows, your score will 
  go down. Inversely, if you're expected to lose and score more
  points than the spread predicted, your score will go up.</p>
<ul>
<% other_players.each do |player| -%>
<li><%= link_to player.display_name, player %>(<%= player.rank %>): <%= @player.margin(player) %></li>
<% end -%>
</ul>

<% content_for(:sidebar) do %>
  <% unless @player.games.count == 0 %>
    <p>
    <b>Singles: </b><%= @player.singles_wins.count %>-<%= @player.singles_losses.count %> <br/>
    <b>Doubles: </b><%= @player.doubles_wins.count %>-<%= @player.doubles_losses.count %> <br />
    <b>Rank: </b><%= @player.rank %>/<%= @player.doubles_rank %>
    </p>
  
  <% end %>
  <h3>Recent Games</h3>
  <% if @player.games.count == 0 %>
    <p>No games played yet</p>
  <% else -%>
    <ul>
      <%= render @player.games %>
    </ul>
  <% end -%>
<% end %>
