<script type="text/javascript">
  var score_hist;
  $(document).ready(function() {
    score_hist = new Highcharts.Chart({
      chart: {
        renderTo: 'rank_graph',
        type: 'line'
      },
      title: {
        text: "<%= "#{@player.name}'s Rank Over Time" %>"
      },
      xAxis: {
        categories: [
          <% scores_over_time.each do |hist| %>
            <%= "'#{hist[:date].to_formatted_s(:short)}', " %>
          <% end %>
        ]
      },
      yAxis: {
        title: {
          text: 'ELO'
        }
      },
      series: [{
        name: 'Individual Rank',
        data: [
          <% scores_over_time.each do |hist| %>
            <%= "#{hist[:rank]}, " %>
          <% end %>
        ]
      }]
    });
  });
</script>
<h2 class="player">
  <%= @player.display_name %>
</h2>
<%= image_tag(gravatar_url_for(@player.email, :size => 100)) %>
<div id="rank_graph">
</div>

<h3>Margins</h4>
<p>This is the expected loser score. If the number is negative, it
  means you should lose with this score. If you are expected to win,
  but you allow them to score this many points (or more), your score
  will go down. Inversely, if you're expected to lose and score more
  than this many points, your score will go up.</p>
<ul>
<% other_players.each do |player| -%>
<li><%= link_to player.display_name, player %>(<%= player.rank %>): <%= @player.margin(player) %></li>
<% end -%>
</ul>

<% content_for(:sidebar) do %>
  <% unless @player.games.count == 0 %>
    <p>
    <b>Singles: </b><%= @player.singles_wins %>-<%= @player.singles_losses %> <br/>
    <b>Doubles: </b><%= @player.doubles_wins %>-<%= @player.doubles_losses %> <br />
    <b>Rank: </b><%= @player.rank %>/<%= @player.doubles_rank %>
    </p>
  
  <% end %>
  <h3>Recent Games</h3>
  <% if @player.games.count == 0 %>
    <p>No games played yet</p>
  <% else -%>
    <ul>
      <%= render @player.games %>
    </ul>
  <% end -%>
<% end %>
