<!DOCTYPE html>
<html>
<head>
  <title>Elo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <h1><%= link_to('Gaslight Foosball', root_path) %></h1>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="content columns seven"><%= yield %></div>
      <div class="sidebar columns five hide-on-phones"><%= content_for(:sidebar) %></div>
    </div>
  </div>
</body>
</html>
