<!DOCTYPE html>
<html>
<head>
  <title>Elo</title>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
  <meta charset='utf-8' />
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
  <meta content='' name='description' />
  <meta content='' name='author' />
  <meta content='width=device-width, initial-scale=1.0' name='viewport' />
  <%= favicon_link_tag 'flame-32x32.png', :rel => 'shortcut icon' %>
  <%= favicon_link_tag 'flame-57x57.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
  <%= favicon_link_tag 'flame-72x72.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "72x72" %>
  <%= favicon_link_tag 'flame-114x114.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => "114x114" %>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "mobile" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="columns six">
          <%= link_to(image_tag('gaslight.png'), root_path) %>
        </div>
        <div class="columns six">
          <ul class="nav-bar hide-on-phones">
            <li><%= link_to("Learn the Rules", page_path(:rules)) %></li>
            <li><%= link_to("Recent Games", root_path) %></li>
            <li><%= link_to 'New Player', new_player_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="content columns <%= content_for?(:sidebar) ? "seven" : "twelve" %>"><%= yield %></div>
      <% if content_for?(:sidebar) %>
        <div class="sidebar columns five"><%= content_for(:sidebar) %></div>
      <% end %>
    </div>
    <dl class="tabs nice mobile show-on-phones">
      <dd><%= link_to 'New Player', new_player_path %></dd>
      <dd><%= link_to("Learn the Rules", page_path(:rules)) %></dd>
      <dd><%= link_to("Recent Games", root_path) %></dd>
    </ul>
  </div>
</body>
</html>
